.active{
    background: rgba(255,255,255,0.35);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border-radius: 0.5rem;
}